{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="container w-75">
  <div class="mt-4 d-flex justify-content-between min-height">
    <h2>Edit Profile</h2>

    {% if messages %}
    <div id="message-container" class="w-50">
      {% for message in messages %} {% if forloop.last %}
      <div
        class="alert alert-{{ message.tags }} alert-dismissible fade show"
        role="alert"
      >
        {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endif %} {% endfor %}
    </div>
    {% endif %}
  </div>

  <form method="post" action="{% url 'edit-profile' id=id %}">
    {% csrf_token %}

    <div class="mb-3">
      <label for="first_name" class="form-label">First name</label>
      <input
        type="text"
        class="form-control"
        id="first_name"
        name="first_name"
        value="{{ form.first_name.value }}"
      />
      {% if form.first_name.errors %}
      <div class="invalid-feedback">{{ form.first_name.errors }}</div>
      {% endif %}
    </div>

    <div class="mb-3">
      <label for="last_name" class="form-label">Last name</label>
      <input
        type="text"
        class="form-control"
        id="last_name"
        name="last_name"
        value="{{ form.last_name.value }}"
      />
      {% if form.last_name.errors %}
      <div class="invalid-feedback">{{ form.last_name.errors }}</div>
      {% endif %}
    </div>

    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        value="{{ form.username.value }}"
      />
      {% if form.username.errors %}
      <div class="invalid-feedback">{{ form.username.errors }}</div>
      {% endif %}
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        value="{{ form.email.value }}"
      />
      {% if form.email.errors %}
      <div class="invalid-feedback">{{ form.email.errors }}</div>
      {% endif %}
    </div>

    <div class="mb-3">
      <label for="phone_number" class="form-label">Phone number</label>
      <input
        type="tel"
        class="form-control"
        id="phone_number"
        name="phone_number"
        value="{{ form.phone_number.value | default_if_none:'' }}"
      />
      {% if form.phone_number.errors %}
      <div class="invalid-feedback">{{ form.phone_number.errors }}</div>
      {% endif %}
    </div>

    <div class="mb-3">
      <label for="new_password" class="form-label">New password</label>
      <div class="input-group mb-3">
        <input
          type="password"
          class="form-control password-field"
          name="new_password"
        />
        <button type="button" class="btn btn-outline-secondary toggle-password">
          <i class="fas fa-eye"></i>
        </button>
      </div>
      {% if form.new_password.errors %}
      <div class="invalid-feedback">{{ form.new_password.errors }}</div>
      {% endif %}
    </div>

    <div class="mb-3">
      <label for="confirm_new_password" class="form-label"
        >Confirm new password</label
      >
      <div class="input-group mb-3">
        <input
          type="password"
          class="form-control password-field"
          name="confirm_new_password"
        />
        <button type="button" class="btn btn-outline-secondary toggle-password">
          <i class="fas fa-eye"></i>
        </button>
      </div>
      {% if form.confirm_new_password.errors %}
      <div class="invalid-feedback">{{ form.confirm_new_password.errors }}</div>
      {% endif %}
    </div>

    <div class="mt-3 d-flex justify-content-between flex-align-340">
      <button type="submit" class="btn btn-primary w-100-px mb-3">Save</button>
      <a
        class="btn btn-secondary w-100-px mb-3"
        href="{% url 'profile' id=id %}"
        >Back</a
      >
    </div>
  </form>
</div>
{% endblock %}
