{% extends 'base.html' %} {% block content %}
<div class="d-flex justify-content-center">
  <form
    method="post"
    class="form-group container-sm mt-3 mb-3 w-75"
    action="{% url 'logout' %}"
  >
    {% csrf_token %}
    <h2 class="text-center">Welcome {{ first_name }}</h2>
    <div class="mt-3 text-center">
      <a
        class="btn btn-secondary w-100-px mb-3"
        href="{% url 'profile' id=job.id %}"
        >Profile</a
      >
      {% if job.role == "MNG" or job.role == "ADM" %}
      <a class="btn btn-secondary w-100-px mb-3" href="{% url 'list' %}"
        >Employees</a
      >
      {% endif %}
      <button type="submit" class="btn btn-danger w-100-px mb-3">Logout</button>
    </div>
  </form>
</div>
{% endblock %}
